body {
	background:black 670px -133px url('bilder/U_background.jpg') no-repeat;
	padding:0px 0px;
	margin:0px 0px 0px 0px;
	font:16px/1.4em Arial, sans-serif;}

a img {border-width:0px;}

em {font-style:italic;}

strong {font-weight:bold;}

figure {margin:0;}

.PicLink {
	width:450px;}

.PicLink table {border-collapse:collapse;}
.PicLink td {border:1px solid #bbb;}
.PicLink a {text-decoration:none;}

.PicLink .PicBild {
	margin:0;
	padding:0;
	vertical-align:middle;
	height:120px;
	line-height:0;}
	
.PicLink .PicRub {
	color:#2185af;
	margin:0;
	padding:5px;
	vertical-align:top;
	font:12px/1.4em Arial, sans-serif;}

.PicLink .PicText {
	color:black;
	font:12px/1.4em Arial, sans-serif;}

.mitt {text-align:center;}

#all {
	margin:40px 100px 30px 100px;
	width:870px;}

#top {
	padding:10px 5px 0px;
	margin:0px 0px 0px 85px;}

#top a {text-decoration:none;}
#top a:link {color:#fd0000;}
#top a:visited {color:#fd0000;}

#top h1 {
	font:bold 68px/1em Paprika,"Lucida Sans Unicode",sans-serif;
	padding:22px 0px 0px;
	margin:0 0 10px;
	color:#fd0000;
	letter-spacing:7px;}

#meny {
	font:19px Arial, sans-serif;
	text-align:left;
	padding:0px;
	margin:160px 0px 0px 10px;}

#meny ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	text-align:left;}

#meny li {  
	display:inline;
	margin: 0px 6px 0px 0px;
	padding: 5px 0px;}

#meny li a {
	text-decoration:none;
	padding:1px 0px;margin:0;}

#meny a:link {color:#fd0000;}
#meny a:visited {color:#fd0000;}
#meny a:hover {color:#2185af;}
#meny #current {color:#2185af;}

#content {  
	border:6px solid #fd0000;
	border-radius:20px;
	margin:10px 20px 0px 0px;
	padding:15px 15px 0px 15px;
	background:#eeff77;} /* eeffa4 */

#content a:link {color:#2185af;}
#content a:visited {color:#2185af;}  

#bottom {
	font:12px Arial, sans-serif;
	color:#5C449D;
	margin:40px 0px 20px 0px;
	padding:0px 0px;
	text-align:center;
	background:#000;}

#bottom p{padding:0;margin:0;}

#bottom a:link {color:#5C449D;}
#bottom a:visited {color:#5C449D;}

blockquote {
	font-style:italic;
	font-size:14px;
